{% extends "base.html" %}

{% block main %}
    <h2 class="p-4 text-xl">
        Quien soy?
    </h2>
    <p>
        Soy Juan Cruz Tilatti, tengo 27 años y estoy buscando insertarme en el mercado laboral del desarrollo web.
    </p>
    <p>
        Antes de entrar al curso realice un curso intensivo en el cual aprendi React.js y Node.js entre otras tecnologias.
    </p>
    <p>
        Mi hobbie son los videojuegos. La idea es utilizar este blog como hoja de ruta de los videojuegos que desarrollare.
    </p>
    <p>
        Si bien suena contradictorio considero que un videojuego no es un juego es una forma de transmitir emociones, ideologias, y sobre todo experiencias.
    </p>
    <p>
        Mi sueño es desarrollar un juego que pueda transmitir emociones a la gente. Y lo mas importante, que alguien disfrute jugarlo.
    </p>

{% endblock %}