{% extends "base.html" %}

{% block main %}
    <p>Fecha: {{post.date}}</p>
    <img src="{{ post.img.url }}" class="h-96 w-96 object-cover rounded-md">
    <h2 class="text-2xl m-2">Titulo: {{post.title}}</h2>
    <p class="text-xl m-2">Subtitulo: {{post.subtitle}}</p>
    <p class="m-2">Version: {{post.version}}</p>
    <p class="m-2">Mensaje: {{post.body}}</p>
    <p class="m-2">Autor: {{post.author}}</p>
    <h3 class="m-2">Comentarios:</h3>
    <a href="{% url 'CreateComment' post.id %}" class="m-2 bg-purple-500 p-1 text-white rounded-md">comentar</a>
    {% for comment in post.comments.all %}
        <div class="p-4 bg-blue-200 w-full m-2">
            <div class="flex items-center m-2 h-8">
                <div class="flex items-center mr-4">
                    <img src="{{ comment.author.avatar.IMG.url }}" class="h-8 w-8 object-cover rounded-full">
                    <p>{{ comment.author.username }}:</p>
                </div>
                <p>{{ comment.message }}</p>
            </div>
            <p class="m-2">Fecha: {{ comment.date }}</p>
            {% if user.is_superuser or user == comment.author %}
                <a href="{% url 'DeleteComment' comment.id %}" class="p-1 bg-red-500 rounded-md m-2">Eliminar</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}