<nav>
    <a href="{% url 'Home' %}">Inicio</a>
    <a href="{% url 'About' %}">Sobre mi</a>
    <a href="{% url 'Posts' %}">Posts</a>
    {% if user.is_authenticated %}
        {% if user.avatar %}
        <a href="{% url 'Profile' %}">
            <img src="{{ user.avatar.IMG.url }}" style="height:40px">
        </a>
        {% else %}
        <a href="{% url 'Profile' %}">Perfil</a>
        {% endif %}
    <a href="{% url 'Logout' %}">Cerrar Sesion</a>
    {% else %}
    <a href="{% url 'Signup' %}">Crear Cuenta</a>
    <a href="{% url 'Login' %}">Iniciar Sesion</a>
    {% endif %}
</nav>